section {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #172940;
  padding-top: 60px;
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
  justify-content: space-between;
}

@media (max-width: 620px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

footer > img {
  margin-top: 10px;
}

@media (min-width: 620px) {
  footer {
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
  }
}

footer {
  color: #a2b5cd;
}

footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

.links a {
  color: grey; /* Set the link color to grey */
  text-decoration: none; /* Remove underline */
}

.links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (max-width: 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: flex-start;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

/* Add a class for the logo section */
.footer-logo {
  margin-left: auto;
  width: 200px;
  height: 200px;
}

/* Style for the copyright section */
.copyright {
  text-align: center;
  padding: 10px 0;
  color: #a2b5cd;
  font-size: 14px;
  width: 100%;
  background-color: black;
  position: relative; /* Changed from absolute to relative */
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
